/* ==========================================================================
   OPACITY
   ========================================================================== */

.u-opacity-100 { opacity: 1 !important; }
.u-opacity-90  { opacity: .9 !important; }
.u-opacity-80  { opacity: .8 !important; }
.u-opacity-70  { opacity: .7 !important; }
.u-opacity-60  { opacity: .6 !important; }
.u-opacity-50  { opacity: .5 !important; }
.u-opacity-40  { opacity: .4 !important; }
.u-opacity-30  { opacity: .3 !important; }
.u-opacity-20  { opacity: .2 !important; }
.u-opacity-10  { opacity: .1 !important; }
.u-opacity-05  { opacity: .05 !important; }
.u-opacity-025 { opacity: .025 !important; }
.u-opacity-0   { opacity: 0 !important; }