/* ==========================================================================
   FONT FAMILY
   ========================================================================== */

.u-text-sans-serif {
  font-family: $font-sans-serif !important;
}

.u-text-sans-serif-alt {
  font-family: $font-sans-serif-alt !important;
}

.u-text-serif {
  font-family: $font-serif !important;
}

.u-text-mono {
  font-family: $font-mono !important;
}
