/* ==========================================================================
   OUTLINES
   ========================================================================== */

.u-outline { outline: 1px solid !important; }
.u-outline-transparent { outline: 1px solid transparent !important; }
.u-outline-none { outline: 0 !important; }